{% extends "base.html" %}

{% block title %}Stupify{% endblock %}

{% block body %}
<div class="row text-center">
    <div class="large-12">
        <h1>Manage</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <br>
        <table class="table table-striped">
        <thead>
            <tr>
                <th>Original</th>
                <th>Stupified</th>
                <th>Votes</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            {% for phrase in phrases %}
            <tr>
                <td>
                    {{ phrase.originalPhrase }}
                </td>
                <td>
                    {{ phrase.newPhrase }}
                </td>
                <td>
                    {{ phrase.votes }}
                </td>
                <td>
                    <a href="{% url 'Stupify.views.delete' phrase.id %}" class="btn btn-danger" title="">X</a>
                </td>
            {% endfor %}
            </tr>
        </tbody>
        </table>
    </div>
</div>
{% endblock %}
